#sorter_container {
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
  background-color: #f8f9fc;
  color: #5a5c69;
}
#sorter_wrapper {
  height: 100%;
}
.logo {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
