.column {
  background-color: #1cc88a;
  color: #ffffff;
}
.column_number {
  width: 5%;
  font-size: 0.75rem;
}
#columns_container {
  height: 90vh;
  overflow: hidden;
}
#visualiser_info {
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  background-color: #ffffff;
}
.column_container {
  margin-bottom: 1px;
}
