.column {
  background-color: #1cc88a;
  color: #ffffff;
}
.column_number {
  width: 5%;
  font-size: 0.75rem;
}
#columns_container {
  height: 90vh;
  overflow: hidden;
}
.active {
  background-color: blue;
}
.swapping {
  background-color: purple;
}
